.blobWrap {
    position: relative;
    width: 240px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(135deg, #d3afff, #9ae4b4, #ffc079);
    animation: blobMorph 30s linear infinite;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
  .blobWrap :global(img) {
    position: relative;
    z-index: 1;
    border-radius: 0.375rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes blobMorph {
    0% {
      border-radius: 52% 48% 46% 54% / 50% 47% 53% 50%;
    }
    15% {
      border-radius: 56% 44% 50% 50% / 48% 52% 46% 54%;
    }
    30% {
      border-radius: 49% 51% 47% 53% / 52% 48% 51% 49%;
    }
    45% {
      border-radius: 54% 46% 52% 48% / 49% 51% 47% 53%;
    }
    60% {
      border-radius: 50% 50% 48% 52% / 50% 50% 52% 48%;
    }
    75% {
      border-radius: 53% 47% 51% 49% / 48% 52% 49% 51%;
    }
    100% {
      border-radius: 52% 48% 46% 54% / 50% 47% 53% 50%;
    }
  }
  
  
  
  